/**
 * App Component scss file
 */
@import "@bryntum/scheduler/scheduler.material.css";
@import "@bryntum/demo-resources/scss/example-webpack.scss";

bryntum-scheduler {
    flex : 1;
}

.b-sch-event {
    border-radius : 3px;
}

.b-sch-resourcetimerange {
    &.custom {
        color      : #0a6fc0;
        background : repeating-linear-gradient(-55deg,
            rgba(200, 200, 200, 0.3),
            rgba(200, 200, 200, 0.3) 10px,
            rgba(240, 240, 240, 0.3) 5px,
            rgba(240, 240, 240, 0.3) 20px);
    }
}

.demo-toolbar {
    min-height : 2.2em;
}
